* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    line-height: 1.6;
}

 .nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
 }

 .nav-links a {
    text-decoration: none;
    color: inherit;
 }

 .logo {
    font-size: 1.2rem;
    color: #0A2540;
 }

 .logo-bold {
   font-weight: bold;
 }

 .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
 }



#cabecalho-principal {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E2E8F0;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}